<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/generic/smileys-and-people">smileys-and-people</a></li>
    <li><a routerLink="/generic/body">body</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

smileys-and-people	body, cat-face, clothing, creature-face, emotion, face-negative, face-neutral, face-positive, face-positive, face-role, face-sick, family, monkey-face, person, person-activity, person-gesture, person-role, skin-tone
animals-and-nature	animal-amphibian, animal-bird, animal-bug, animal-mammal, animal-marine, animal-reptile, plant-flower, plant-other
food-and-drink	dishware, drink, food-asian, food-fruit, food-prepared, food-sweet, food-vegetable
travel-and-places	travel-and-places
activities	activities
objects	objects
symbols	symbols
flags	flags